.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	margin: 1% 10%;
	background-color: bisque;
	height: 82%;
	width: max-content;
}
.container {
	border-left: 1px solid darkgoldenrod;
}
